.page-wrapper {
  min-height: 100%;
}

html,
body {
  height: 100%;
  padding: 0%;
  margin: 0%;
}

.footer {
  height: 400px;
  position: relative;
  padding: 20px 40px;
  font-family: 'Archivo Narrow', sans-serif;
}



.footer-bottom {
  color: #666d73;
  text-align: end;
  position: absolute;
  height: 50px;
  width: 100%;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 15px;
  margin-right: 50px;
  padding-right: 10px;
  line-break: auto;


}

.footer-bottom:hover {
  color: black;
}

.footer-content {
  height: 460px;
  display: flex;
  flex-direction: row;
}

.footer-content-left {
  display: flex;
  width: 50%;
  height: 460px;
}

.footer-content-left>div {
  width: 33.33%;
  height: 100%;
}

.footer-content-left>div>p {
  color: grey;
  font-weight: 550;
}

.footer-content-left>div>p:hover {
  color: black;
  cursor: pointer;
}

.footer-content-right {
  width: 50%;
  height: 460px;
}

.footer-content-right>div {
  width: 100%;
  height: 130px;
}

.app {
  display: flex
}

#app {
  height: 45px;
  width: 130px;
  margin: 10px;
  margin-left: 0px;
  border-radius: 7px;
  cursor: pointer;
}



.payment {
  display: flex;
}

.payment>div {
  height: 35px;
  width: 8%;
  margin: 20px;
  margin-left: 0px;
  border-radius: 5px;
}

.follow {
  display: flex
}

.follow>div {
  height: 35px;
  width: 35px;
  cursor: pointer;
  margin: 20px;
  margin-left: 0px;
}

b {
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}


@media only screen and (min-width: 0px) and (max-width: 900px) {
  .footer-content {
    flex-direction: column;

  }

  .footer-content-right {
    margin-top: 10px;

  }

  .footer-bottom {
    color: #666d73;
    text-align: start;
    height: 20px;
    width: 100%;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 15px;
    margin-right: 50px;
    padding-right: 10px;
    bottom: -1150px;
  }

  .payment>div {
    height: 35px;
    width: 20%;
    margin: 20px;
    margin-left: 0px;
    border-radius: 5px;
  }
}


@media only screen and (min-width: 0px) and (max-width: 630px) {
  .footer-content-left {
    flex-direction: column;

  }

  .footer-content-right {
    flex-direction: column;
  }
  .footer-content {
    flex-direction: column;
    line-height: 20px;

  }

  .footer-content-left {
    flex-direction: column;

  }

  .footer-content-right {
    flex-direction: column;
    margin-top: 150px;
  }

  .footer-bottom {
    color: #666d73;
    text-align: start;
    height: 20px;
    width: 100%;
    bottom: -1150px;
  }

  .payment>div {
    height: 35px;
    width: 35%;
    margin: 20px;
    margin-left: 0px;
    border-radius: 5px;
  }


}


@media only screen and (min-width: 0px) and (max-width: 500px) {
  .footer-content-left {
    flex-direction: column;

  }

  .footer-content-right {
    flex-direction: column;
  }
  .footer-content {
    flex-direction: column;
    line-height: 20px;

  }

  .footer-content-left {
    flex-direction: column;

  }

  .footer-content-right {
    flex-direction: column;
    margin-top: 230px;
  }

  .footer-bottom {
    color: #666d73;
    text-align: start;
    height: 20px;
    width: 100%;
    bottom: -1150px;
  }

  .payment>div {
    height: 35px;
    width: 35%;
    margin: 20px;
    margin-left: 0px;
    border-radius: 5px;
  }


}





















/* .footer{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(9, 1fr);
      grid-template-areas: 
    
      "c c h h b b a a a a a a"
      "c c h h b b a a a a a a"
      "c c h h b b a a a a a a"
      "c c h h b b p p p p p p"
      "c c h h b b p p p p p p"
      "c c h h b b p p p p p p"
      "c c h h b b f f f f f f"
      "c c h h b b f f f f f f"
      "c c h h b b f f f f f f";
    }
    
    
    
    .customer{
      border: 1px solid red;
      grid-area: c;
    }
    
    .help{
      grid-area: h;
      border: 1X solid red;
    }
    
    .business{
      grid-area: b;
      border: 1X solid red;
    }
    
    .app{
      grid-area: a;
      border: 1X solid red;
    }
    
    .payment{
      grid-area: p;
      border: 1X solid red;
    }
    
    .follow{
      grid-area: f;
      border: 1X solid red;
  } */