.container {
    border: 1px solid red;
}
body {
    font-size: 20px;
    font-weight: bold;
}
#creams {
    border-radius: 50%;
    background-color: #e9e0ad;
    width: 3em;
    height: 2.5em;
    margin-left: 5%;
    cursor: pointer;
}

#reds {
    border-radius: 50%;
    background-color: red;
    width: 3em;
    height: 2.5em;
    margin-left: 5%;
    cursor: pointer;
}
#greens {
    border-radius: 50%;
    background-color: green;
    width: 3em;
    height: 2.5em;
    margin-left: 5%;
    cursor: pointer;
}
#oranges {
    border-radius: 50%;
    background-color: orange;
    width: 3em;
    height: 2.5em;
    margin-left: 5%;
    cursor: pointer;
}
#browns {
    border-radius: 50%;
    background-color: brown;
    width: 3em;
    height: 2.5em;
    margin-left: 5%;
    cursor: pointer;
}
#colour > div:nth-child(2){
    display: flex;
}
#life {
    display: flex;
    justify-content: space-between;
}
*{
    margin: 0;
    padding: 0;
}
.sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #eee;
    transition: all .5s ease;
    top: 0;
    border: 1px solid red;
}
.sidebar header {
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    user-select: none;
}

.sidebar > div {
    background-color: white;
    margin-top: 10px;
    padding: 30px;
    line-height: 40px;
    width: 100%;
    box-sizing: border-box;
}
label #filter, label #cancel {
    position: absolute;
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    padding: 5px;
}

label #filter {
    right: 10%;
    top: 25px;
    font-size: 15px;
    border-radius: 3px;
}
label #cancel {
    z-index: 1111;
    right: -375px;
    border: 0;
    padding: 4px 9px;
    font-size: 20px;
    top: 10px;
    /* opacity: 0; */
}

#setOrder button {  
    padding: 2px;
    height: 40px;
    width: 45;
    border: 1px solid rgb(218, 208, 208);
    background-color: transparent;
}

#high:hover ,#low:hover {
    border: 1px solid black;
    cursor: pointer;
}
#size button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
}
#life input {
    margin-right: 120px;
    width: 20px;
    height: 20px;
}