
#head{
   text-align: center;
}



#container{
   display:inline-grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: auto auto auto;
   grid-gap: 30px;
   width:200px;
   height: 400px;
  margin-left: 80px;
   }
#container>div{
/* border: 1px solid black;*/
 width:220px;
 height: 300px;
 margin-left: 5px;
 margin-bottom: 70px;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#img{
width:220px;
height:300px;

}  
#name{
margin-bottom:15px ;
text-align: center;
margin-left: auto;
}
#price{
margin-left: 70px;
}
#b1{
margin-bottom: 10px;
margin-left: 300px;
}
#btn2{
padding:10px 15px;
border-radius: 8px;
border:transparent;
}
#btn2:hover{
border:2px solid black;
}
#b2{
margin-bottom: 10px;
margin-left: 600px;
}
#sel{
   margin-left: 50px;
}
#addbtn{
   background-color: black;
   color:white;
}